<%- include('./layouts/header.ejs')%>
  <div class="main">
    <%- include('./layouts/navbar.ejs')%>
    <div class="container-fluid">
      <div class="page-title">
        <h1>修改密码</h1>
      </div>
      <!-- 有错误信息时展示 -->
      <div class="alert alert-danger errorHide">
        <strong>错误！</strong>发生XXX错误
      </div>
      <form class="form-horizontal" id="myForm">
        <div class="form-group">
          <label for="old" class="col-sm-3 control-label">旧密码</label>
          <div class="col-sm-7">
            <input id="old" class="form-control" type="password" placeholder="旧密码">
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-sm-3 control-label">新密码</label>
          <div class="col-sm-7">
            <input id="password" class="form-control" type="password" placeholder="新密码">
          </div>
        </div>
        <div class="form-group">
          <label for="confirm" class="col-sm-3 control-label">确认新密码</label>
          <div class="col-sm-7">
            <input id="confirm" class="form-control" type="password" placeholder="确认新密码">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-7">
            <button type="submit" class="btn btn-primary">修改密码</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <%- include('./layouts/aside.ejs')%>

  <%- include('./layouts/footer.ejs')%>
  
  <script src="/assets//vendors/utils/utils.js"></script>
  <script>
    $('#old').on('blur',function(){
    $.ajax({
    type:'post',
    url:'/validateOldPassword',
    data:{
      password:$(this).val(),
      id: utils.convertToObj(location.search.slice(1)).id
    },
    dataType:'json',
    success:function(res){
      if(res.code==1){
        $('.alert').removeClass('errorHide').addClass('errorShow').html(`<strong>错误！</strong>${res.msg}`)
        var timeId =  setTimeout(function(){
          $('.alert').removeClass('errorShow').addClass('errorHide')
          clearTimeout(timeId)
        }, 1000);
      }
      }
    })
})

$('#myForm').on('submit',function(event){
  event.preventDefault();
   $.ajax({
     type:'post',
     url:'/updateProfilePassword',
     data:{
      password:$('#confirm').val(),
      id: utils.convertToObj(location.search.slice(1)).id
     },
     beforeSend:function(){
        if($("#password").val()!==$("#confirm").val()){
          $(".alert").removeClass('errorHide').addClass('errorShow').html(`<strong>错误！</strong>两次新密码输入不一致`)
          var timeId = setTimeout(function () {
              $('.alert').removeClass('errorShow').addClass('errorHide')
              clearTimeout(timeId)
            }, 1000);
            return false;
          }
        },
     dataType:'json',
     success:function(res){
        if(res.code==0){
          $(".alert").removeClass('errorHide').removeClass('errorShow').html(`<strong>密码更新成功，即将跳转登录界面</strong>`)
          var timeId=setInterval(function(){
            $(".alert").removeClass('errorShow').addClass('errorHide')
            clearInterval(timeId)
            location.href='/login'
          },2000)
        }
     }
   })
})
  </script>